rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Menu
    match /menu/{document=**} {
      allow read, write: if true;
    }
    
    // Pedidos
    match /orders/{document=**} {
      allow read, write: if true;
    }
    
    // Configurações da Loja (settings/store)
    match /settings/{document=**} {
      allow read, write: if true;
    }
    
    // Teste de conexão
    match /_connection_test/{document=**} {
      allow read, write: if true;
    }
    
    // Cupons de desconto
    match /coupons/{document=**} {
      allow read, write: if true;
    }
  }
}
